.box{
    background: rgba(119, 122, 128, 0.329) !important;
    box-shadow: 0 0 10px 0 #6d6d6d !important;
    border-radius: 9px !important;
    padding: 30px; 
}

.box-configuracao{
  padding: 25px;
}
