<div *ngIf="agendas.length" class="box-proximas-agendas">
  <p style="margin: auto; text-align: center;color: #00BCD4;">Agendas para este mês</p>
  <p-carousel [value]="agendas" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
    <ng-template let-agenda pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-2 bg-white" style="min-width: 140px;">
        <div class="flex" style="justify-content: space-between;">
          <span class="material-symbols-outlined">
            event
          </span>
          <div tooltipPosition="top"  [pTooltip]="agenda?.cor?.nome" class="cor-primaria-secundaria" style="display: flex;">
            <div [style.background]="agenda?.cor?.primaria" style="border-radius: 10px 0 0 10px;"></div>
            <div
              [style.background]="agenda?.cor?.efeito == 'COLORIDO' ? agenda?.cor?.primaria : agenda?.cor?.secundaria"
              style="border-radius: 0 10px 10px 0;"></div>
          </div>
        </div>
        <div class="mb-2 mt-2 font-medium" style="font-size: 12px;">
          {{ agenda?.nome.toUpperCase()}}<br>
          <span style="font-size: 10px;color: #4ca1af;">{{agenda.status}}</span>
        </div>
        <div class="flex justify-content-between align-items-center">
          <div class="mt-0 font-semibold" style="font-size: 13px;">
            {{ agenda.inicio | date: 'dd/MM' }}
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
