<h2 style="padding: 20px;">{{dispositivo?.nome}}</h2>
<p style="font-weight: 600; color: #008eff;">{{dispositivo.enderecoCompleto}}</p>
<div class="box-rapidas">
  @for (conf of cores; track $index) {
  <div (click)="enviar(conf)" class="box-rapidas-item">
    <div style="margin: 10px;">
      <p>{{conf.nome}}</p>
      <p style="font-size: 12px;">{{conf.time}} minuto{{conf.time == 1 ? '' : 's'}}</p>
    </div>
      <div style="display: flex;width: 100%;height: 8px;min-width: 100px;">
        <div style="width: 100%;height: 8px;min-width: 100px;" [style.background]="conf.primaria"></div>
        <div style="width: 100%;height: 8px;min-width: 100px;" [style.background]="conf.secundaria"></div>
      </div>
  </div>
}
</div>
<div class="botoes">
  <button mat-raised-button class="me-8 mb-8" color="basic" mat-dialog-close type="submit">Fechar</button>
  <button mat-raised-button class="me-8 mb-8" color="primary" (click)="cancelar()" type="submit">Cancelar comando</button>
</div>
<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'800ms'" [showTransformOptions]="'translateX(100%)'" />
