.box-comandos-rapidos {
  width: 100%;
  background: linear-gradient(90deg, rgb(0 0 0 / 62%) 1%, rgb(27 18 55 / 86%) 100%) !important;
  background: linear-gradient(90deg, rgba(124, 124, 124, 0.315) 1%, rgba(64, 64, 64, 0.425) 100%) !important;
  border-radius: 10px;
  max-height: 800px;
  box-shadow: 0 0 10px 0 #929292 !important;
  padding: 30px 20px;
  overflow-y: auto;
}

.box-rapidas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 5px;
  margin: 15px 0;
  max-height: 700px;
  overflow-x: auto;
  overflow-y: auto;

}

.box-comandos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-rapidas-item {
  width: 100%;
  margin: 4px;
  border: solid #85a6c5 thin;
  background: rgba(4, 3, 26, 0.336);
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
}

.box-rapidas-item:hover {
  border: solid #2e9aff thin;
  background: rgb(3, 10, 24) !important;
}

.load {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.box-rapidas-item:hover {
  background: #0a1927;
}

p,
h2 {
  margin: auto;
  text-align: center;
}

.botoes {
  padding: 10px;
  margin: 0 10px;
}

.comando-nome,
.comando-data,
.comando-autor {
  margin: 0;
  text-align: left;
}

.comando-data,
.comando-autor {
  margin: 0;
  font-size: 10px;
}

.comando-data {
  color: #6683af;
}

.comando-autor {
  color: #ff9000;
}

@media(max-width: 700px) {
  .box-botoes-direta {
    display: flex !important;
    flex-direction: column !important;
  }

  .box-rapidas {
    width: 100%;
  }

  .box-comandos-rapidos {
    padding: 0;
  }

  .timeline-rapidas {
    flex-grow: 1;
  }

  .botoes {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
