<div class="box-mapa">
  <mat-tab-group mat-stretch-tabs="false" animationDuration="0" [selectedIndex]="tabSelect" [style]="{'margin': 0}"
    (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Bloco A">
    </mat-tab>
    <mat-tab label="Bloco B">
    </mat-tab>
  </mat-tab-group>
  <div class="box-tags">
    <div class="box-tags-item box-pavimentos">
      <div class="pesquisa-mapa">
        <mat-form-field appearance="outline" [className]="'pesquisar-input'" [style]="{'background': 'linear-gradient(90deg, rgb(0 0 0 / 62%) 1%, rgba(31, 4, 52, 0.86) 100%) !important;'}">
          <input (input)="this.nomeFind.next(pesquisa.value)" #pesquisa type="text" matInput
            placeholder="Pesquisar no mapa">
          <mat-icon style="cursor: pointer;" matSuffix aria-hidden="false"
            fontIcon="search"></mat-icon>
        </mat-form-field>
      </div>
      @for (item of [{nome: '1º Andar', planta: 'planta.webp'}, {nome: '2º Andar', planta: 'planta2.jpg'}, {nome: '3º Andar', planta: 'planta3.jpg'}]; track $index) {
        <div (click)="selecionarPlanta(item)" class="tag-item" [style.background]="planta == item.nome ? '#7292fa61' : 'transparent'">
          <p>{{item.nome}}</p>
          <span>Tags: 2</span>
        </div>
      }
    </div>
    <div class="box-tags-item" style="width: 100%;">
      <div id="overview" style="height: 86vh;"></div>
    </div>
  </div>
</div>
