<!-- Form Layout -->
<div class="container" style="max-width: 500px;padding: 25px;">
  <h3 class="mb-32">Cadastro de usuário</h3>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="user.nome" required matInput type="text" placeholder="Nome">
    </mat-form-field>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Endereço de email</mat-label>
      <input [(ngModel)]="user.email" required matInput type="email" placeholder="Endereço de email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Perfil</mat-label>
      <mat-select required [(ngModel)]="role">
        <mat-option value="ADMIN">Administrador</mat-option>
        <mat-option value="USER">Usuário regular</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="user.id == ''" class="w-100 fs-16" appearance="outline">
      <mat-label>Senha</mat-label>
      <input [(ngModel)]="user.password" required matInput type="password" placeholder="Senha">
    </mat-form-field>
    <div class="botoes">
      <button mat-raised-button class="me-8 mb-8" color="basic" (click)="fechar()" type="submit">fechar</button>
      <button mat-raised-button class="me-8 mb-8" color="primary" (click)="salvar()" type="submit">{{user.id == '' ? 'Cadastrar' : 'Atualizar'}}</button>
    </div>
</div>
