.box-painel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.cores {
  width: 70%;
  background: white;
  padding: 0 40px;
  border: solid #e5e5e5 thin;
  border-radius: 17px;
  flex: 1;
  margin-right: 20px;
}

.ultimos-eventos {
  width: 100%;
}

.box-dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.box-dashboard-item {
  display: flex;
  align-items: center;
  width: 270px;
  height: 90px;
  margin: 2px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  background: white;
  flex-grow: 1;
}

h4 {
  font-weight: 600;
  margin: 0;
  font-size: 18px !important;
}

.box-dashboard-item-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.material-symbols-outlined {
  font-size: 64px;
  color: rgb(131, 131, 131);
  font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 0
}

i-feather {
  width: 48px;
  height: 48px;
}

.box-chat {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.comando-nome,
.comando-data,
.comando-autor {
  margin: 0;
}

.comando-data,
.comando-autor {
  margin: 0;
  font-size: 10px;
}

.comando-data {
  color: #6683af;
}

.comando-autor {
  color: #ff9000;
}

.titulo {
  margin-bottom: 18px;
  background: #e5e5e5;
  color: #818181;
  padding: 3px;
  line-height: 2;
  height: 90px;
  border-radius: 8px;
  font-weight: 300;
}

.titulo-chart {
  text-align: center;
  margin: 0 0 20px;
  border-radius: 10px;
  color: #5ea7bd;
  border: solid #92d2de thin;
  background: #caeaff;
  font-size: 13px;
  padding: 4px;
}
