<mat-card class="w-100">
  <mat-card-content>

    <div class="box-botoes-direta" style="align-items: flex-start;">
      <div style="max-width: 400px;flex: 1;">
        <mat-form-field appearance="outline">
          <input (input)="this.nomeFind.next(pesquisa.value)" #pesquisa type="text" matInput
            placeholder="Pesquisar usuário">
          <mat-icon matSuffix aria-hidden="false" fontIcon="search"></mat-icon>
        </mat-form-field>
      </div>
      <button (click)="adicionarUsuario()" mat-raised-button mat-button type="button" color="primary">
        <i-feather name="plus" class="feather-base" style="margin-right: 10px;"> </i-feather>
        Novo usuário</button>
    </div>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th>Email</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usuarios">
            <td><img src="assets/images/avatar.png" width="35" height="35" class="rounded-circle"></td>
            <td>{{user.nome}}</td>
            <td>{{user.email}}</td>
            <td>
              <span class="badge badge-{{user.status ? 'success' : 'danger'}} rounded-pill">
                {{user.status ? 'Ativo' : 'Inativo'}}</span>
            </td>
            <td *ngIf="isAutorizado && user.nome != 'admin'">
              <i-feather (click)="editarUsuario(user)" name="slash" class="feather-base" style="margin-right: 10px;">
              </i-feather>
              <i-feather (click)="bloquearUsuario(user)" [name]="user.status ? 'unlock' : 'lock'" class="feather-base"
                style="margin-right: 10px;" [style.color]="user.status ? 'unlock' : 'lock'">
              </i-feather>
              <i-feather (click)="removerUsuario(user)" name="trash-2" class="feather-base" style="margin-right: 10px;">
              </i-feather>
            </td>
            <td *ngIf="isAutorizado && user.nome == 'admin'">
              <i-feather name="slash" class="feather-base" style="margin-right: 10px;"></i-feather>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="page?.length"
        [pageSize]="page?.pageSize" [showFirstLastButtons]="true" [pageSizeOptions]="[15,20,50]"
        [pageIndex]="page?.pageIndex"></mat-paginator>
    </div>
    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
      [hideTransitionOptions]="'800ms'" [showTransformOptions]="'translateX(100%)'" />
