<!-- Form Layout -->
<div class="container" style="max-width: 500px;padding: 25px;">
  <h3 class="mb-32">Cadastro de usuário</h3>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="user.firstName" required matInput type="text" placeholder="Nome">
    </mat-form-field>
    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="user.email" required matInput type="email" placeholder="Endereço de email">
    </mat-form-field>

    <mat-form-field class="w-100 fs-16" appearance="outline">
      <mat-label>Celular</mat-label>
      <input [(ngModel)]="user.cellphone" required matInput type="tel" placeholder="Telefone celular">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Data de nascimento</mat-label>
      <input [(ngModel)]="user.dtBirthday" required matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"
        (monthSelected)="setMonthAndYear($event, picker)"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <section class="fs-16 mb-32">
      <mat-label>Pemirssões</mat-label>
      <mat-checkbox color="primary" [checked]="checked" class="d-block mb-16">Assinar documentos</mat-checkbox>
      <mat-checkbox color="primary" [checked]="checked" class="d-block mb-16">Adicionar Usuarios</mat-checkbox>
      <mat-checkbox color="primary" [checked]="checked" class="d-block mb-16">Mudar status usuários</mat-checkbox>
      <mat-checkbox color="primary" [checked]="checked" class="d-block mb-16">Remover usuários</mat-checkbox>
      <mat-checkbox color="primary" [checked]="checked" class="d-block mb-16">Editar usuários</mat-checkbox>
    </section>
    <div class="botoes">
      <button mat-raised-button class="me-8 mb-8" color="basic" (click)="fechar()" type="submit">fechar</button>
      <button mat-raised-button class="me-8 mb-8" color="primary" (click)="salvar()" type="submit">Cadastrar</button>
    </div>
</div>
