<mat-card class="w-100">
  <mat-card-content>
    <div class="box-perfil">
      <div style="display: flex;justify-content: space-between;">
        <img [src]="'assets/images/favorite.png'">
        <div>
          <span class="badge badge-{{user?.status ? 'success' : 'danger'}} rounded-pill">
            {{user?.status ? 'Ativo' : 'Inativo'}}</span>
        </div>
      </div>

      <div class="dados-usuario">
        <div class="dados-usuario-item">
          <h2>{{user?.nome}}</h2>
          <div class="dados-usuario-item">
            <mat-chip-listbox aria-label="Fish selection">
              @if(authService.decodePayloadJWT()){
              @for (role of authService.decodePayloadJWT().roles; track $index) {
              <mat-chip-option color="accent" selected disabled>{{descricaoRole(role)}}</mat-chip-option>
              }}
            </mat-chip-listbox>
          </div>
        </div>
        <div class="dados-usuario-item">
          <label>Email</label>
          <h5>{{user?.email}}</h5>
        </div>
        <div class="dados-usuario-item">
          <button [disabled]="!user?.status || user?.nome == 'admin'" (click)="editarPerfil()" mat-raised-button mat-button class="me-8 mb-8" color="primary"
            type="submit">Editar dados</button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
