<!-- Form Layout -->
<div class="container" style="max-width: 500px;padding: 25px;">
    <section class="fs-16 mb-32">
      <h3>Pemirssões</h3>
      <mat-checkbox color="primary" class="d-block mb-16">Assinar documentos</mat-checkbox>
      <mat-checkbox color="primary" class="d-block mb-16">Adicionar Usuarios</mat-checkbox>
      <mat-checkbox color="primary" class="d-block mb-16">Mudar status usuários</mat-checkbox>
      <mat-checkbox color="primary" class="d-block mb-16">Remover usuários</mat-checkbox>
      <mat-checkbox color="primary" class="d-block mb-16">Editar usuários</mat-checkbox>
    </section>
    <div class="botoes">
      <button mat-raised-button class="me-8 mb-8" color="basic" (click)="fechar()" type="submit">fechar</button>
      <button mat-raised-button class="me-8 mb-8" color="primary" (click)="salvar()" type="submit">Cadastrar</button>
    </div>
</div>
