<mat-card class="w-100">
    <mat-card-content>
      <div style="display: flex;justify-content: space-between;">
        <h4 class="mb-32">Lista de dispositivos</h4>
       </div>
        <mat-tab-group mat-stretch-tabs="false" animationDuration="0" (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Ativos">
                <app-tabela-dispositivos [dispositivos]="dispositivos"></app-tabela-dispositivos>
            </mat-tab>
            <mat-tab label="Inativos">
                <app-tabela-dispositivos [dispositivos]="dispositivosInativos"></app-tabela-dispositivos>
            </mat-tab>
            <mat-tab label="Offline">
                <app-tabela-dispositivos [dispositivos]="dispositivosOffline"></app-tabela-dispositivos>
            </mat-tab>
            <mat-tab label="Não assossiado">
                <app-tabela-dispositivos [dispositivos]="dispositivosnAssociados"></app-tabela-dispositivos>
            </mat-tab>
        </mat-tab-group>
        <mat-paginator #paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [length]="page?.length"
        [pageSize]="page?.pageSize"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[15,20,50]"
        [pageIndex]="page?.pageIndex"></mat-paginator>
    </mat-card-content>
</mat-card>
