.box-login{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.box-login-form{
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 16px;
  margin: auto;
}

img{
  margin: 10px;
}

.campo-padrao{
  margin-top: 10px;
  padding: 10px;
  width: 250px;
  border-color: #948fe1 !important;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  font-weight: 400;
  color: #5a53b9;
}

button{
  width: 88%;
  border-radius: 3px !important;
  background: #948fe1 !important;
}


@media (max-width: 600px) {
  .box-login{
    background: white;
  }

  .box-login-form{
    box-shadow: none;
  }

}
