<mat-sidenav-container class="sidenav-container">

  <!-- Sidebar -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">


    <div class="p-16">
      <div  style="display: flex;align-items: center; justify-content: center;">
        <a *ngIf="!modoIcon" href="javascript:void(0)" class="d-flex align-items-center">
          <img src="assets/images/logo.png" style="width: 200px;margin: 5px 10px;">
        </a>
        <button (click)="modo()" mat-icon-button color="primary">
          <mat-icon [fontIcon]="!modoIcon ? 'arrow_back_ios' : 'arrow_forward_ios'"></mat-icon>
        </button>
      </div>
      <div class="pt-8">
        <ul>
          <li class="list-group mb-2" *ngFor="let sidenav of sidebarMenu" (click)="onMenuClick(drawer)">
            <a [pTooltip]="modoIcon ? sidenav.menu : ''" tooltipPosition="right" matRipple [matRippleColor]="'#f7f8f443'" routerLink="{{ sidenav.link }}"
              class="sidebar-menu  d-flex align-items-center" [class.w-100]="!modoIcon" [routerLinkActive]="routerActive"
              [routerLinkActiveOptions]="{ exact: false }">
              <i-feather name="{{ sidenav.icon }}" class="feather-base" style="margin-bottom: 7px;">
              </i-feather> <span *ngIf="!modoIcon" style="margin-left: 10px;" class="ps-4">{{ sidenav.menu }}</span>
            </a>
          </li>
          <li class="list-group mb-2" style="margin-top: 40px;">
            <i-feather *ngIf="modoIcon" name="repeat"  routerLink="/sincronizar" class="feather-base" style="margin-right: 10px;margin-bottom: 7px;"></i-feather>
            <a [pTooltip]="modoIcon ? 'Sincronizar' : ''" *ngIf="!modoIcon" routerLink="/sincronizar" matRipple [matRippleColor]="'#f7f8f443'"
              class="sidebar-menu d-flex align-items-center bt-sincronizar" [class.w-100]="!modoIcon">
              <span class="ps-4">Sincronizar</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content [style.margin-left]="modoIcon ? '89px' : '285px'">
    <!-- Header -->
    <mat-toolbar *ngIf="viewCliente()" class="header ps-24 pe-24">
      <div style="margin: 0 25px;">
          <br>
        <h2>{{cliente?.nome}}</h2>
        <span style="color: powderblue;font-size: 11px;">{{cliente?.endereco}}</span>
  </div>

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <i-feather name="menu" class="text-light-muted feather-base mt-n3"></i-feather>
      </button>
      <div class="ms-auto">
        <button mat-button class="fs-16 pt-4 pb-4 ps-8 pe-8 text-light-muted d-flex align-items-center"
          [matMenuTriggerFor]="menu">
          <div class="d-flex align-items-center">
            <img src="assets/images/icon_white_64.png" width="30" class="rounded-circle">
            <span class="fw-bold ms-8" style="margin: 5px;">{{nome ? nome.split(' ')[0] : nome}}</span>
            <i-feather name="chevron-down" style="color: white;" class="feather-base"></i-feather>
          </div>
        </button>
        <mat-menu #menu="matMenu" class="profile-dropdown" class="principal-login">
          <div class="p-2 mb-8">
            <button routerLink="/perfil" mat-menu-item class="fs-16">Meus dados</button>
          </div>
          <p (click)="logout()" style="color: white;text-align: center;cursor: pointer;margin: auto;"
            class="p-4"><i-feather name="log-out" style="color: white;" class="feather-base"></i-feather> Sair</p>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Content -->
    <div *ngIf="!reload" class="body-wrapper">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'800ms'" [showTransformOptions]="'translateX(100%)'" />
