.principal-login {
  max-width: 230px !important;

}

img {
  width: 30px;
}

.bt-sincronizar {
  border-radius: 25px;
  border: solid #00a6cf thin;
  color: white;
  cursor: pointer;
  justify-content: center;
}

.bt-sincronizar:hover {
  background-color: #14050d7a;
  border-color: #ff03817a;
  color: #ff0381d2;
}

.icone-voltar svg{
  height: 25px;
}

i-feather{
  cursor: pointer;
}

.box-cliente{
  margin: 0 25px;
}

@media(max-width: 700px) {
  .box-cliente{
    display: none;
  }
}
