<mat-sidenav-container class="sidenav-container">

  <!-- Sidebar -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">


    <div class="p-16">
      <div class="mb-16">
        <a href="javascript:void(0)" class="d-flex align-items-center">
           <img src="assets/images/logo.webp" style="width: 200px;">
        </a>
      </div>
      <div class="pt-8">
        <ul>
          <li class="list-group mb-2" *ngFor="let sidenav of sidebarMenu" (click)="drawer.toggle()">
            <a matRipple [matRippleColor]="'#f7f8f443'" routerLink="{{ sidenav.link }}"
              class="sidebar-menu w-100 d-flex align-items-center" [routerLinkActive]="routerActive"
              [routerLinkActiveOptions]="{ exact: false }">
              <i-feather name="{{ sidenav.icon }}" class="feather-base" style="margin-right: 10px;"> </i-feather> <span
                class="ps-4">{{ sidenav.menu }}</span>
            </a>
          </li>
          <li class="list-group mb-2" style="margin-top: 40px;">
            <a (click)="sincronizar()" matRipple [matRippleColor]="'#f7f8f443'" class="sidebar-menu w-100 d-flex align-items-center" style="border-radius: 25px;background: #00a6cf; color:white; cursor: pointer;">
              <i-feather name="refresh-ccw" class="feather-base" style="margin-right: 10px;"> </i-feather> <span
                class="ps-4">Sincronizar</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Header -->
    <mat-toolbar *ngIf="padding != '0'" class="header ps-24 pe-24">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <i-feather name="menu" class="text-light-muted feather-base mt-n3"></i-feather>
      </button>
      <div class="ms-auto">
        <button mat-button class="fs-16 pt-4 pb-4 ps-8 pe-8 text-light-muted d-flex align-items-center"
          [matMenuTriggerFor]="menu">
          <div class="d-flex align-items-center">
            <img src="assets/images/avatar.png" width="30" height="30" class="rounded-circle">
            <span class="fw-bold ms-8" style="margin: 5px;">{{nome ? nome.split(' ')[0] : nome}}</span>
            <i-feather name="chevron-down" class="feather-base"></i-feather>
          </div>
        </button>
        <mat-menu #menu="matMenu" class="profile-dropdown" class="principal-login">
          <div class="p-4 mb-4">
            <span class="badge badge-success rounded-pill" style="padding: 8px; margin: 10px 10px;">Administração</span>
            <button routerLink="/perfil" mat-menu-item class="fs-16">Meus dados</button>
            <button mat-menu-item class="fs-16">Trocar senha</button>
          </div>
          <hr>
          <div class="p-16">
            <button (click)="logout()" mat-flat-button color="accent" class="w-100 text-white">Sair</button>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Content -->
    <div class="body-wrapper" [style.padding]="padding">
        <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>



