.box-integracoes{
  background: rgba(119, 122, 128, 0.329) !important;
  box-shadow: 0 0 10px 0 #6d6d6d !important;
  border-radius: 9px !important;
  padding: 30px;
}

.feather-base {
  margin-right: 10px;
  cursor: pointer;
}

.feather-base:hover {
  color: rgb(41, 145, 241);
}

.box-botoes-direta{
  padding: 30px 0;
}
