<div class="table-responsive-sm">
  <table matSort (matSortChange)="sortData($event)" class="table table-striped table-hover">
    <thead>
      <tr>
        <th *ngIf="modoAll" mat-sort-header="rapida">Rápida</th>
        <th *ngIf="!modoAll" style="width: 10px;"></th>
        <th mat-sort-header="nome">Nome</th>
        <th>Efeito</th>
        <th>Cores</th>
        <th mat-sort-header="velocidade">Velocidade</th> 
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cor of cores">
        <td *ngIf="modoAll"><p-checkbox disabled [(ngModel)]="cor.rapida" [binary]="true" inputId="binary"></p-checkbox></td>
        <td *ngIf="!modoAll" style="width: 10px;">
          <mat-radio-button (change)="definirConfiguracao(cor)" class="example-radio-button" color="primary"
            [checked]="cor.id == idSelecionado" [value]="cor.id"></mat-radio-button>
        </td>
        <td>{{cor.nome}}</td>
        <td>{{getTradutor(undefined, cor.efeito)}}</td>
        <td>
          <div class="cor-primaria-secundaria" style="display: flex;">
            <div [style.background]="cor.primaria" style="border-radius: 10px 0 0 10px;"></div>
            <div [style.background]="cor.secundaria" style="border-radius: 0 10px 10px 0;"></div>
          </div>
        </td>
        <td>{{cor.velocidade}}</td>
        <td>
          <i-feather *ngIf="modoAll" (click)="editar(cor)" name="edit" class="feather-base">
          </i-feather>
          <i-feather (click)="remover(cor)" name="trash" class="feather-base">
          </i-feather>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="page?.length"
  [pageSize]="page?.pageSize" [showFirstLastButtons]="true" [pageSizeOptions]="[15,20,50]"
  [pageIndex]="page?.pageIndex"></mat-paginator>

<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'800ms'" [showTransformOptions]="'translateX(100%)'" />
