table {
  margin: 30px 0;
}

.feather-base {
  margin-right: 10px;
  cursor: pointer;
}

.feather-base:hover {
  color: rgb(41, 145, 241);
}

.cor-primaria-secundaria div{
  width: 10px;
  height: 5px;
  padding: 10px;
}

