.box-token {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-weight: 700;
  text-align: center;
  margin: 3px;
}

.codigo {
  display: flex;
  margin: 10px 0;
}

.campo-padrao{
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #00a6cf;
}

.material-symbols-outlined {
  font-size: 75px;
  color: #00BCD4;
}

.cronomentro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acoes button{
  margin: 15px 5px;
}

input{
  text-align: center;
}
