<mat-card class="w-100">
  <mat-card-content>
    <div class="box-detalhes">
      <div style="display: flex;flex-direction: column;">
        @if(dispositivo){
        <app-informacoes-dispositivo [dispositivo]="dispositivo"></app-informacoes-dispositivo>
        }
        <div class="box-detalhes">
          <app-lista-parametros [edicao]="false" [cor]="getCor(dispositivo)"
            [exibirBotoes]="{add: false, back: false}"></app-lista-parametros>
        </div>
      </div>
      <div class="botoes">
        <button mat-raised-button class="me-8 mb-8" color="basic" mat-dialog-close type="submit">Fechar</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
