.box-detalhes{
  padding: 40px;
  background: white;
}

.box-detalhes-item{
  margin: 12px 0;
}

.cor-primaria-secundaria div{
  width: 40px;
  height: 7px;
  padding: 10px;
}

label {
  color: #888888;
}
