html,
body {
  color: #303030;
  letter-spacing: 0.1rem;
  background: linear-gradient(90deg, rgb(0 0 0 / 62%) 1%, rgba(5, 3, 10, 0.86) 100%) !important;

  .blur-background {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(5px);
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #7e7e7e;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: #abd7ec;
}

.gt_switcher_wrapper {
  right: 7px !important;
}

.botoes {
  float: right;
}

.botoes button {
  min-width: 150px;
}

.box-botoes-direta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-timeline-event-opposite {
  display: none;
}

.p-card .p-component {
  margin-left: 15px !important;
}

.chart-container {
  width: 100%;
  max-width: 600px;
  /* exemplo de largura máxima */
  height: 400px;
  /* defina a altura desejada */
  overflow: hidden;
  /* evita que o conteúdo exceda os limites */
}

/* opcionalmente, defina estilos específicos para o p-chart */
.chart-container p-chart {
  width: 100%;
  height: 100%;
}

.botoes button {
  margin: 0 3px;
}

.box-dialog {
  min-width: 800px !important;
  max-height: 800px;
  overflow-x: auto;
}

.p-toast-message-text {
  padding: 0 10px !important;
  font-size: 13px !important;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  width: 25px;
  text-align: center;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent !important;
  box-shadow: none !important;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content {
  margin: 13px 24px -17px 25px !important;
}

.no-overflow .mdc-dialog__surface {
  overflow: hidden !important;
}

tr td {
  vertical-align: middle !important;
}

.cor-primaria-secundaria div {
  width: 10px;
  height: 5px;
  padding: 10px;
}

fieldset {
  border: solid #d1d1d1 thin;
  /* Cor da borda */
  border-radius: 8px;
  /* Bordas arredondadas */
  padding: 20px;
  /* Padding interno */
  background-color: #ffffff;
  /* Cor de fundo */
  margin: 20px 0;
  /* Margem ao redor do fieldset */
}

/* Estilizando a legenda */
legend {
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px;
  background-color: #ffffff;
  color: #234194;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  width: 40%;
}

.p-carousel-item {
  flex: 1 30% !important;
}

.p-message-detail {
  font-size: 11px;
  margin: 8px;
  flex: 1;
}

.p-icon-wrapper {
  padding: 5px;
}

.p-message-wrapper {
  align-items: center;
  justify-content: space-between;
}

.p-checkbox-label {
  margin: 0 10px;
}

.p-tooltip-text {
  padding: 7px 10px;
  font-size: 12px;
}

.p-element {
  font-size: 13px;
}

.p-toast-message-text {
  margin-left: 15px;
  margin: 5px 15px;
}

.p-toast .p-element svg {
  width: 25px;
}

.mat-mdc-tab .mdc-tab__text-label {
  color: white !important;
}

.mat-mdc-text-field-wrapper {
  background: #e7e7e7;
  border-radius: 5px !important;
}

.mat-drawer-container,
.mat-drawer {
  background: transparent !important;
  background-color: transparent !important;
}

.mat-drawer {
  box-shadow: 0 0 10px 0 rgba(0, 225, 255, 0.233) !important;
}

.mat-mdc-paginator-container {
  background: linear-gradient(90deg, rgb(0 0 0 / 62%) 1%, rgb(27 18 55 / 86%) 100%) !important;
  color: #ffffff;
  border-radius: 5px;
}

mat-paginator{
  border-radius: 8px;
}

.mat-drawer-inner-container,
.body-wrapper,
.mat-toolbar,
.mat-mdc-paginator-range-actions {
  color: #ffffff;
}

tr th {
  color: rgb(178, 243, 255) !important;
}


tr td,
.mat-mdc-form-field-infix,
.mat-mdc-paginator-icon,
.mat-mdc-select-arrow svg,
.mat-mdc-select-min-line {
  color: white !important;
  fill: white !important;
}

.mat-mdc-card {
  box-shadow: 0 0 6px 0 #707070 !important;
  background-color: transparent !important;
  background: linear-gradient(90deg, rgb(0 0 0 / 62%) 1%, rgb(27 18 55 / 86%) 100%) !important;
  background: linear-gradient(90deg, rgb(124 124 124 / 52%) 1%, rgb(64 64 64 / 70%) 100%) !important;
  background: rgba(119, 122, 128, 0.329) !important;
  -webkit-backdrop-filter: blur(5px) !important;
}

.p-toast .p-toast-message.p-toast-message-success {
  background: rgb(228 248 240 / 12%) !important;
}

.p-toast .p-toast-message.p-toast-message-info {
  background: rgb(219 234 254 / 12%) !important;
}

.p-toast .p-toast-message.p-toast-message-warn {
  background: rgb(255 242 226 / 12%) !important;
}

.p-toast .p-toast-message.p-toast-message-error {
  background: rgba(255, 231, 230, 12%) !important;
}

.mat-mdc-dialog-surface {
  background: linear-gradient(90deg, rgba(10, 7, 19, 0.95) 1%, rgba(27, 27, 27, 0.9) 100%) !important;
  box-shadow: 0 0 10px 0 #6d6d6d !important;
  border-radius: 9px !important;
}

.mat-mdc-text-field-wrapper {
  background: #e6e6e652 !important;
  color: white !important;
  border: solid rgb(107, 107, 107) thin !important;
}

.cdk-overlay-dark-backdrop {
  background: rgb(0 0 0 / 74%) !important;
}

.mat-mdc-form-field-infix input,
label,
h1,
h2,
h3,
h4,
h6,
.mdc-floating-label {
  color: white !important;
}

.mat-mdc-paginator-range-actions {
  cursor: pointer;
}

.p-timeline-left {
  margin-right: 20px;
}

@media(max-width: 600px) {

  .body-wrapper,
  .mat-mdc-card-content {
    padding: 10px !important;
  }

  .box-painel {
    flex-wrap: wrap;
  }

  .box-painel-item {
    width: 100% !important;
  }

  .cores {
    padding: 10px !important;
  }

  i-feather {
    margin: 0 !important;
  }

  .box-dashboard-item svg {
    width: 40px;
  }

  .box-dashboard-item-label h4,
  .box-dashboard-item-label span {
    font-size: 11px !important;
  }

  .box-dashboard-item-label {
    font-size: 12px;
  }

  .box-dashboard-item {
    height: 50px !important;
  }

  .box-botoes-direta {
    display: block;
  }

  .box-botoes-direta button {
    margin-top: 15px;
  }

  .box-dialog {
    min-width: 100% !important;
    max-height: 100%;
    overflow-x: auto;
  }

  .box-parametro-item {
    display: block !important;
  }
}
