html {
  background: linear-gradient(90deg, rgb(0 0 0 / 62%) 1%, rgba(10, 9, 10, 0.86) 100%) !important;
  background: url(assets/images/fundo.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

html,
body {
  height: -webkit-fill-available !important;
  color: #303030;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.92);
}

.pesquisar-input .mat-mdc-text-field-wrapper{
  background: rgba(0, 0, 0, 0.911) !important;
  color: white;
}

.mat-drawer-inner-container {
  background: rgba(0, 0, 0, 0.92);
}

.mat-sidenav-container {
  height: 100%;
  height: -webkit-fill-available !important;
}

.body-wrapper {
  padding: auto;
  margin: 15px auto;
  width: 98%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #7e7e7e;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: #abd7ec;
}

.gt_switcher_wrapper {
  right: 7px !important;
}

.botoes {
  float: right;
}

.botoes button {
  min-width: 150px;
}

.box-botoes-direta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.load {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-mapa .body-wrapper{
  padding: 0 !important;
}
.mat-mdc-tab-body-content {
  margin-bottom: 0 !important;
}

.p-timeline-event-opposite {
  display: none;
}

.p-card .p-component {
  margin-left: 15px !important;
}

.chart-container {
  width: 100%;
  max-width: 600px;
  /* exemplo de largura máxima */
  height: 400px;
  /* defina a altura desejada */
  overflow: hidden;
  /* evita que o conteúdo exceda os limites */
}

/* opcionalmente, defina estilos específicos para o p-chart */
.chart-container p-chart {
  width: 100%;
  height: 100%;
}

.botoes button {
  margin: 0 3px;
}

.box-dialog {
  min-width: 800px !important;
  max-height: 800px;
  overflow-x: auto;
}

.p-toast-message-text {
  padding: 0 10px !important;
  font-size: 13px !important;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  width: 25px;
  text-align: center;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: transparent !important;
  box-shadow: none !important;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content {
  margin: 13px 24px -17px 25px !important;
}

.no-overflow .mdc-dialog__surface {
  overflow: hidden !important;
}

tr td {
  vertical-align: middle !important;
}

.cor-primaria-secundaria div {
  width: 33%;
  max-width: 25px;
  height: 5px;
  padding: 6px;
}

fieldset {
  border: solid #d1d1d1 thin;
  /* Cor da borda */
  border-radius: 8px;
  /* Bordas arredondadas */
  padding: 20px;
  /* Padding interno */
  background-color: #ffffff;
  /* Cor de fundo */
  margin: 20px 0;
  /* Margem ao redor do fieldset */
}

/* Estilizando a legenda */
legend {
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px;
  background-color: #ffffff;
  color: #234194;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  width: 40%;
}

.p-carousel-item {
  flex: 1 30% !important;
}

.p-message-detail {
  font-size: 11px;
  margin: 8px;
  flex: 1;
}

.p-icon-wrapper {
  padding: 5px;
}

.p-message-wrapper {
  align-items: center;
  justify-content: space-between;
}

.p-checkbox-label {
  margin: 0 10px;
}

.p-tooltip-text {
  padding: 7px 10px;
  font-size: 12px;
}

.p-element {
  font-size: 13px;
}

.p-toast-message-text {
  margin-left: 15px;
  margin: 5px 15px;
}

.p-toast .p-element svg {
  width: 25px;
}

.mat-mdc-tab .mdc-tab__text-label {
  color: white !important;
}

.mat-mdc-text-field-wrapper {
  background: #e7e7e7;
  border-radius: 5px !important;
}

.mat-drawer-container,
.mat-drawer {
  background: transparent !important;
  background-color: transparent !important;
}

.mat-drawer {
  box-shadow: 0 0 10px 0 rgba(0, 225, 255, 0.233) !important;
}

.mat-mdc-paginator-container {
  background: linear-gradient(90deg, rgb(0 0 0 / 62%) 1%, rgb(27 18 55 / 86%) 100%) !important;
  color: #ffffff;
  border-radius: 5px;
}

mat-paginator {
  border-radius: 8px;
}

.mat-drawer-inner-container,
.body-wrapper,
.mat-toolbar,
.mat-mdc-paginator-range-actions {
  color: #ffffff;
}

tr th {
  color: rgb(178, 243, 255) !important;
}


tr td,
.mat-mdc-form-field-infix,
.mat-mdc-paginator-icon,
.mat-mdc-select-arrow svg,
.mat-mdc-select-min-line {
  color: white !important;
  fill: white !important;
}

.mat-mdc-card {
  background-color: transparent !important;
  background: linear-gradient(90deg, rgba(43, 43, 43, 0.685) 1%, rgba(64, 64, 64, 0.788) 100%) !important;
}

.p-toast .p-toast-message.p-toast-message-success {
  background: rgb(228 248 240 / 12%) !important;
}

.p-toast .p-toast-message.p-toast-message-info {
  background: rgb(219 234 254 / 12%) !important;
}

.p-toast .p-toast-message.p-toast-message-warn {
  background: rgb(255 242 226 / 12%) !important;
}

.p-toast .p-toast-message.p-toast-message-error {
  background: rgba(255, 231, 230, 12%) !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: wheat !important;
}

.mat-mdc-dialog-surface {
  background: linear-gradient(90deg, rgba(14, 13, 13, 0.966) 1%, rgba(64, 64, 64, 0.959) 100%) !important;
  background: transparent !important;
  border-radius: 9px !important;
}

.box-configuracao-item b,
.box-configuracao-item .material-symbols-outlined {
  color: white;
}

.mat-mdc-text-field-wrapper {
  background: #e6e6e652 !important;
  color: white !important;
  border: solid rgb(107, 107, 107) thin !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.795) !important;
}

.mat-mdc-form-field-infix input,
label,
h1,
h2,
h3,
h4,
h6,
.mdc-floating-label {
  color: white !important;
}

.mat-mdc-paginator-range-actions {
  cursor: pointer;
}

.p-timeline-left {
  margin-right: 20px;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input,
.mat-mdc-select-min-line {
  color: #ffffff !important;
}

input::-webkit-input-placeholder {
  color: rgb(173, 173, 173) !important;
}

/* Chrome, Safari, Edge */
input:-moz-placeholder {
  color: rgb(173, 173, 173) !important;
}

/* Firefox 4-18 */
input::-moz-placeholder {
  color: rgb(173, 173, 173) !important;
}

/* Firefox 19+ */
input:-ms-input-placeholder {
  color: rgb(173, 173, 173) !important;
}

.p-colorpicker-panel .p-colorpicker-hue {
  background: transparent url(/assets/images/hue.png) no-repeat left top !important;
}

.principal-login {
  max-width: 230px !important;
  background-color: #0e0d11ef !important;
  box-shadow: 0 0 4px 0 #30d7dd !important;
  border-radius: 10px !important;
}

.principal-login span {
  color: white !important;
}

.alternando-cores {
  fill: var(--cor-svg, black);
  animation: mudarCores 1s infinite alternate;
}

.p-tabmenu ul{
  margin: 0;
}

.p-tabmenu .p-tabmenu-nav{
  background: transparent;
  border-bottom: solid rgba(119, 119, 119, 0.712) thin;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
  border: none;
}

.p-tabmenu .p-menuitem-icon{
  margin: 0 5px;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem{
  padding: 15px 20px;
}

.leaflet-popup {
  bottom: 15px !important;
}


.leaflet-popup-content-wrapper {
  background: transparent !important;
  color: #19408a !important;

}

.leaflet-popup-content {
  margin: 0 !important;
  width: auto !important;
}

.leaflet-popup-content p {
  margin: 0 4px 5px 0 !important
}

.leaflet-popup-content-wrapper {
  padding: 0.01rem !important;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-tip {
  background: rgba(154, 207, 207, 0.856) !important
}

 #overview .leaflet-popup-content-wrapper {
  background: rgba(226, 72, 0, 0.856) !important
}

#overview .leaflet-popup-content-wrapper {
  box-shadow: 6px 4px 12px 0px rgb(139 139 139 / 64%) !important
}

.box-popup {
  color: #fff !important;
  padding: 10px;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  width: max-content;
  margin: -1px;
}

.box-color-popup svg{
  fill: white;
}

.box-color-popup-rota .leaflet-popup-tip, .box-color-popup-rota .leaflet-popup-content-wrapper {
  background: #005aae !important;
}

.box-color-popup-rota{
  background: #144bc2ec;
  border-radius: 10px;
}

.box-color-popup .local{
  font-weight: 200;
  font-size: 10px;
}

.box-popup-grupo {
  color: #fff !important;
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  width: max-content;
  margin: -1px;
}

.box-popup-grupo-item {
  border-bottom: solid thin;
  padding: 5px 10px;
  background-color: #434e56c5;

}

.box-popup-grupo-ponto {
  background: #34c1b5cc !important;
}

.box-popup-grupo-item .status {
  margin-top: 2px;
}

.box-popup-grupo-item p {
  margin: 0 !important;
  padding: 0 !important;
}

.box-poup p,
.box-popup-grupo p {
  font-family: 'Montserrat', sans-serif;
}

@media(max-width: 700px) {

  .body-wrapper,
  .mat-mdc-card-content {
    padding: 10px !important;
  }

  .box-painel {
    flex-wrap: wrap;
  }

  .box-painel-item {
    width: 100% !important;
  }

  .cores {
    padding: 10px !important;
  }

  .box-dashboard-item svg {
    width: 40px;
  }

  .box-dashboard-item-label h4,
  .box-dashboard-item-label span {
    font-size: 11px !important;
  }

  .box-dashboard-item-label {
    font-size: 12px;
  }

  .box-dashboard-item {
    height: 50px !important;
  }

  .box-botoes-direta {
    display: block;
  }

  .box-botoes-direta button {
    margin-top: 15px;
  }

  .box-dialog {
    min-width: 100% !important;
    max-height: 100%;
    overflow-x: auto;
  }

  .box-parametro-item {
    display: block !important;
  }
}
