html,
body {
  color: #303030;
  letter-spacing: 0.1rem;
}

.box-botoes-direta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-timeline-event-opposite{
  display: none;
}

.p-card .p-component{
  margin-left: 15px !important;
}

