<div *ngIf="cor" class="painel-configuracao">

  <div class="box-configuracao" style="width: 97%;">
    <div style="margin: 20px 0; display: flex;">
      <p-checkbox [disabled]="!isAutorizado(true)" (click)="habilitarSincronismo()" *ngIf="exibeSincronizar" [(ngModel)]="enviarConfiguracao.value" label="Habilitar tem real" [binary]="true" />
      <p-checkbox [disabled]="!isAutorizado(true)" [(ngModel)]="cor.rapida" label="Habilitar configuração rápida" [binary]="true" />
    </div>
    <div style="display: flex;">
      <mat-form-field appearance="outline" style="margin-right: 10px;">
        <mat-label>Nome</mat-label>
        <input matInput required [(ngModel)]="cor.nome" type="text" placeholder="Nome">
      </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Efeito</mat-label>
      <mat-select required (selectionChange)="onSliderChange()" [(ngModel)]="cor.efeito">
        <mat-option value="COLORIDO">Colorido</mat-option>
        <mat-option value="BATIDA">Batida</mat-option>
        <mat-option value="CONTADOR">Contador</mat-option>
        <mat-option value="GIROFLEX">Giroflex</mat-option>
        <mat-option value="GIRATORIO">Giratorio</mat-option>
        <mat-option value="CILONIO">Cilônio</mat-option>
        <mat-option value="SINALIZADOR">Sinalizador</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </div>

  <div class="box-parametro-item">
    <div class="box-configuracao">
      <div style="padding: 10px 0;">
        <div class="color-picker-container">
          <input type="color" id="colorPicker" (change)="changeCorPrimaria()" [(ngModel)]="cor.primaria">
          <span class="placeholder-text">Cor primária</span>
        </div>
      </div>
      <div class="box-configuracao-item">
        <span class="material-symbols-outlined cor" style="color: #ff002b;">radio_button_checked</span>
        <mat-slider [max]="255" [step]="1" (change)="onSliderChange()">
          <input matSliderThumb [(ngModel)]="cor.cor[0]">
        </mat-slider>
        <b>{{cor.cor[0]}}</b>
      </div>
      <div class="box-configuracao-item">
        <span class="material-symbols-outlined cor" style="color: #00c900;">radio_button_checked</span>
        <mat-slider [max]="255" [step]="1" (change)="onSliderChange()">
          <input matSliderThumb [(ngModel)]="cor.cor[1]">
        </mat-slider>
        <b>{{cor.cor[1]}}</b>
      </div>
      <div class="box-configuracao-item">
        <span class="material-symbols-outlined cor" style="color: #003cff;">radio_button_checked</span>
        <mat-slider [max]="255" [step]="1" (change)="onSliderChange()">
          <input matSliderThumb [(ngModel)]="cor.cor[2]">
        </mat-slider>
        <b>{{cor.cor[2]}}</b>
      </div>
    </div>
    <div class="box-configuracao">
      <div style="padding: 10px 0;">
        <div class="color-picker-container">
          <input type="color" id="colorPicker" (change)="changeCorSecundaria()" [(ngModel)]="cor.secundaria">
          <span class="placeholder-text">Cor secundária</span>
        </div>
      </div>
      <div class="box-configuracao-item">
        <span class="material-symbols-outlined cor" style="color: #ff002b;">radio_button_checked</span>
        <mat-slider [max]="255" [step]="1" (change)="onSliderChange()">
          <input matSliderThumb [(ngModel)]="cor.cor[3]">
        </mat-slider>
        <b>{{cor.cor[3]}}</b>
      </div>
      <div class="box-configuracao-item">
        <span class="material-symbols-outlined cor" style="color: #00c900;">radio_button_checked</span>
        <mat-slider [max]="255" [step]="1" (change)="onSliderChange()">
          <input matSliderThumb [(ngModel)]="cor.cor[4]">
        </mat-slider>
        <b>{{cor.cor[4]}}</b>
      </div>
      <div class="box-configuracao-item">
        <span class="material-symbols-outlined cor" style="color: #003cff;">radio_button_checked</span>
        <mat-slider [max]="255" [step]="1" (change)="onSliderChange()">
          <input matSliderThumb [(ngModel)]="cor.cor[5]">
        </mat-slider>
        <b>{{cor.cor[5]}}</b>
      </div>
    </div>
  </div>
  <div class="box-parametro-item">
    <div class="box-configuracao">
      <h6>Correção de cor</h6>
      <div class="box-configuracao-item">
        <span class="material-symbols-outlined cor" style="color: #ff002b;">radio_button_checked</span>
        <mat-slider [max]="255" [step]="1" (change)="onSliderChange()">
          <input matSliderThumb [(ngModel)]="cor.correcao[0]">
        </mat-slider>
        <b>{{cor.correcao[0]}}</b>
      </div>
      <div class="box-configuracao-item">
        <span class="material-symbols-outlined cor" style="color: #00c900;">radio_button_checked</span>
        <mat-slider [max]="255" [step]="1" (change)="onSliderChange()">
          <input matSliderThumb [(ngModel)]="cor.correcao[1]">
        </mat-slider>
        <b>{{cor.correcao[1]}}</b>
      </div>
      <div class="box-configuracao-item">
        <span class="material-symbols-outlined cor" style="color: #003cff;">radio_button_checked</span>
        <mat-slider [max]="255" [step]="1" (change)="onSliderChange()">
          <input matSliderThumb [(ngModel)]="cor.correcao[2]">
        </mat-slider>
        <b>{{cor.correcao[2]}}</b>
      </div>
    </div>

    <div class="box-configuracao">
      <div class="box-configuracao">
        <h6>Velocidade</h6>
        <div class="box-configuracao-item">
          <span class="material-symbols-outlined cor">speed</span>
          <mat-slider [max]="255" [min]="1" [step]="1" (change)="onSliderChange()">
            <input matSliderThumb [(ngModel)]="cor.velocidade"> </mat-slider>
          <b>{{cor.velocidade}}</b>
        </div>
      </div>
      <div class="box-configuracao" style="margin-top: 11px;">
        <h6>Temporizador</h6>
        <div class="box-configuracao-item">
          <span class="material-symbols-outlined cor">mitre</span>
          <mat-slider [max]="120" [step]="1" [min]="1" (change)="onSliderChange()">
            <input matSliderThumb [(ngModel)]="cor.time"> </mat-slider>
          <b>{{cor.time}}</b>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="exibirBotoes" class="botoes">
    <button mat-raised-button class="me-8 mb-8" color="basic" (click)="fechar()" type="submit">Fechar</button>
    <button *ngIf="isAutorizado(true)" mat-raised-button class="me-8 mb-8" color="accent" (click)="duplicar()" type="submit">Duplicar
      cor</button>
    <button *ngIf="isAutorizado(true)" mat-raised-button class="me-8 mb-8" color="primary" (click)="salvar()" type="submit">Salvar
      configurações</button>
  </div>
</div>
<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'800ms'" [showTransformOptions]="'translateX(100%)'" />
