<div class="box-configuracao">
    <app-paramentros-cores [exibirBotoes]="false" [configuracao]="configuracao"></app-paramentros-cores>
    <div class="botoes">
      <button mat-raised-button class="me-8 mb-8" color="basic" (click)="fechar()" type="submit">Fechar</button>
      <button mat-raised-button class="me-8 mb-8" color="primary" (click)="salvar()" type="submit">Salvar</button>
    </div>
  </div>
<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'800ms'" [showTransformOptions]="'translateX(100%)'" />
