table {
  margin: 30px 0;
}

.feather-base {
  margin-right: 10px;
  cursor: pointer;
}

.feather-base:hover {
  color: rgb(41, 145, 241);
}

.box-tabela-parametros{
  margin: auto 7px;
}

h5{
  font-size: 14px;
  color: wheat;
}

.box-configuracao-item{
  width: 100%;
}
